@import "material-symbols";

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContent.gameOn {
  transition: background-color 2s ease;
  background-color: #00000000;
}

.userTitle {
  min-height: 100px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 3rem;
  padding-right: 5.5rem;
}

.userTitle > div {
  min-height: 100px;
  min-width: 400px;
}


:root {
  --card-height: 400px;
  --card-width: 280px;
  --card-back-color: #152c38;
}


.deckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--card-back-color);
  height: var(--card-height);
  width: var(--card-width);
  padding: 2rem;
  box-shadow: 8px 8px rgb(0, 0, 0);
  position: absolute;
  transition: transform 0.2s ease;
  z-index: 5;
  cursor: pointer;
  top: calc(50% - var(--card-height) / 2);
  right: calc(50% - var(--card-width) / 2);
}

.deckContainer.gameOn {
  transition:
    right 2s ease,
    top 2s ease,
    transform 2s ease;
  transform: scale(0.4);
  top: -6.5rem;
  right: -4rem;
}
.deckContainer.gameOn:hover {
  transform: scale(calc(0.4 * 0.97));
}

.deckContainer:hover {
  transform: scale(0.97);
}

.deckContainer > h3 {
  color: white;
}


.deckContainer > h3, .deckContainer > span, .deckContainer > img {
  pointer-events: none;
}

.deckLetter {
  margin: auto auto 6rem auto;
  font-size: 6rem;
  color: white;
}


.handContainer {
  gap: 1rem;
  top: 200px;
  left: 0;
  padding: 0rem 1rem;
  opacity: 0;
  width: 100%;
  position: absolute;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
  gap: 1rem;
  transition: opacity 3s ease, transform 3s ease;
  transform: translateY(300px);
}

.handContainer.gameOn {
  opacity: 1;
  transform: translateY(0);
}

.cardContainer {
  width: 100%;
  max-width: 220px;
  justify-self: center;

  aspect-ratio: 280 / 400;
  transition: top 2s ease, left 2s ease, transform 0.25s ease;
  perspective: 600px;
  cursor: pointer;
}

.cardContainer:hover {
  transform: translateY(-10px) scale(0.98);
}

.mainContent:has(.cardContainer.chosen) .cardContainer:not(.chosen),
.mainContent:has(.cardContainer.chosen) .deckContainer {
  pointer-events: none;
}
.mainContent:has(.cardContainer.chosen)::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  z-index: 9;
}

.cardContainer.chosen {
  z-index: 10;
  position: absolute;
  height: 80vh;
  width: calc(80vh * 280 / 400);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: none;
}

.cardContainerTilt, .cardFront, .cardBack {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.cardFront, .cardBack {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  container-type: inline-size;
}

.cardFront > h1 {
  font-size: max(12pt, 12cqw);
  font-weight: light;
}
.cardFront > h1:first-of-type {
  margin: 0 auto 0 5px;
}
.cardFront > h1:last-of-type{
  margin: 0 5px 0 auto;
}

.cardFront > .mainTechGroup {
  margin: 0.5rem 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: flex-start;
  flex-grow: 1;
}

.cardFront > .mainTechGroup > .mainTech {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cardFront > .mainTechGroup span {
  font-size: max(10pt, 10cqw);
  font-weight: lighter;
}

.cardFront .mainTechLogo {
  height: max(1rem, 14cqw);
  width: auto;
  font-size: 6pt;
  margin-right: max(0.1rem, 3cqw);
}

.cardFront > .leftLine, .cardFront > .rightLine {
  width: 0.5cqw;
  height: 55%;
  position: absolute;
  background: black;
}
.cardFront > .leftLine {
  top: max(1.2em, 16cqw);
  left: 10%;
}
.cardFront > .rightLine {
  bottom: max(1.2em, 16cqw);
  right: calc(10%);
}
.cardBack > .cardHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  padding: 5px;
  border-bottom: solid black 0.5px;
}

.cardBack > .cardHeader > .projectLogoContainer {
  height: 2rem;
  width: 2rem;
  position: relative;
}

.cardBack > .cardHeader > .projectLogoContainer > img {
  object-fit: contain;
}

.cardBack > .cardHeader > h1 {
  font-size: 18pt;
  margin: 0 auto 0 auto;
}

.cardBack > .cardHeader > span {
  font-size: 24pt;
  margin-bottom: 0px;
}

.cardBack > .projectScreenshotContainer {
  margin: 0.7rem 0.7rem 0.5rem 0.7rem;
  height: 40%;
  width: 90%;
  position: relative;
  border: 1px black solid;
}

.cardBack > p {
  margin-bottom: 5px;
  font-size: 7pt;
  width: 90%;
}

.cardBack > span {
  font-size: 8pt;
  margin: auto 0 2px 0;
}


.cardContainer .frontEnd { background-color: #E29191; }
.cardContainer .backEnd { background-color: #91BEE2; }
.cardContainer .fullStack { background-color: #919de2; }


@media (max-width: 580px) {
  .handContainer {
    grid-template-columns: repeat(auto-fit, minmax(min(110px, 100%), 1fr));
    gap: 0.5rem;
  }
  .cardContainer.chosen {
    height: calc(80vw * 400 / 280);
    width: 80vw;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: none;
  }
}
