@import "material-symbols";

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
}



.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000000ce;
  overflow: hidden;
}

.mainContent.gameOn {
  transition: background-color 2s ease;
  background-color: #00000000;
}

.userTitle {
  min-height: 100px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 3rem;
  padding-right: 5.5rem;
}

.userTitle > div {
  min-height: 100px;
  min-width: 400px;
}


:root {
  --card-height: 400px;
  --card-width: 280px;
  --card-back-color: #152c38;
}


.deckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--card-back-color);
  height: var(--card-height);
  width: var(--card-width);
  padding: 2rem;
  box-shadow: 5px 5px rgb(0, 0, 0);
  position: absolute;
  transition: transform 0.2s ease;
  z-index: 5;
  cursor: pointer;
  top: calc(50% - var(--card-height) / 2);
  left: calc(50% - var(--card-width) / 2);
}

.deckContainer:hover {
  transform: scale(0.97);
}

.deckContainer > h3 {
  color: white;
}


.deckContainer > h3, .deckContainer > span, .deckContainer > img {
  pointer-events: none;
}

.deckLetter {
  margin: auto auto 6rem auto;
  font-size: 6rem;
  color: white;
}

.deckContainer.gameOn {
  transition: all 2s ease;
  top: calc(74vh - var(--card-height) / 2);
  left: calc(88vw - var(--card-width) / 2);
  transform: scale(0.8);
}

.handContainer {
  gap: 1rem;
  bottom: 2rem;
  padding: 0 0 0 1rem;
  opacity: 0;
  width: calc(100vw - var(--card-width));
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: opacity 3s ease, transform 3s ease;
  transform: translateY(300px);
}

.handContainer.gameOn {
  opacity: 1;
  transform: translateY(0);
}

.cardContainer {
  height: calc(var(--card-height) * 0.8);
  width: calc(var(--card-width) * 0.8);
  transition: top 2s ease, left 2s ease, transform 0.25s ease;
  perspective: 1000px;
  cursor: pointer;
}

.cardContainer:hover {
  transform: translateY(-10px) scale(0.98);
}

.cardContainer.chosen {
  z-index: 10;
  position: absolute;
  top: calc(50% - var(--card-height) / 2 * 0.6 * 2);
  left: calc(50% - var(--card-width) / 2 * 0.6);
  transform: scale(1.5);
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease, flex 0.3s ease;;
  transform-style: preserve-3d;
  border-radius: 5px;
}

/* .cardContainer:hover .card */
.cardContainer.chosen .card {
  transform: rotateY(0deg);
}

.cardContainer.chosen .card.chosenClicked {
  transform: rotateY(180deg);
}

.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  backface-visibility: hidden;
  position: absolute;
}

.cardFront {
  transform: rotateY(0)
}

.cardFront > h1{
  font-size: 22pt;
  margin-top: 0.4rem;
}

.cardFront > h2{
  font-size: 15pt;
}

.cardFront > .mainTech {
  width: 80%;
  height: 2.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.cardFront .mainTechLogo {
  height: 2.2rem;
  width: auto;
  font-size: 6pt;
  margin-right: 0.6rem;
}

.cardFront > span {
  margin: auto 0 2px 0;
}


.cardBack {
  transform: rotateY(180deg);
}

.cardBack > .cardHeader {
  height: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  padding: 5px;
  border-bottom: solid black 0.5px;
}

.cardBack > .cardHeader > .projectLogoContainer {
  height: 2rem;
  width: auto;
}

.cardBack > .cardHeader > h1 {
  font-size: 18pt;
  margin: 0 auto 0 auto;
}

.cardBack > .cardHeader > span {
  font-size: 24pt;
  margin-bottom: 0px;
}

.card.frontEnd {
  background-color: #E29191;
}
.card.backEnd {
  background-color: #91BEE2;
}
.card.fullStack {
  background-color: #919de2;
}
