.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000000ce;
  overflow: hidden;
}

.mainContent.gameOn {
  transition: background-color 2s ease;
  background-color: #00000000;
}

.userTitle {
  min-height: 100px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
}

.userTitle > div {
  min-height: 100px;
  min-width: 400px;
}


:root {
  --card-height: 400px;
  --card-width: 280px;
  --card-back-color: #152c38;
}


.deckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--card-back-color);
  height: var(--card-height);
  width: var(--card-width);
  padding: 2rem;
  box-shadow: 5px 5px rgb(0, 0, 0);
  position: absolute;
  transition: transform 0.2s ease;
  z-index: 5;
  cursor: pointer;
  top: calc(50% - var(--card-height) / 2);
  left: calc(50% - var(--card-width) / 2);
}

.deckContainer:hover {
  transform: scale(0.97);
}

.deckContainer > h3 {
  color: white;
}


.deckContainer > h3, .deckContainer > span, .deckContainer > img {
  pointer-events: none;
}

.deckLetter {
  margin: auto auto 6rem auto;
  font-size: 6rem;
  color: white;
}

.deckContainer.gameOn {
  transition: all 2s ease;
  top: calc(74vh - var(--card-height) / 2);
  left: calc(88vw - var(--card-width) / 2);
  transform: scale(0.8);
}

.handContainer {
  gap: 1rem;
  bottom: 2rem;
  padding: 0 0 0 2rem;
  opacity: 0;
  width: calc(100vw - var(--card-width));
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: opacity 3s ease, transform 3s ease;
  transform: translateY(300px);
}

.handContainer.gameOn {
  opacity: 1;
  transform: translateY(0);
}

.cardContainer {
  height: calc(var(--card-height) * 0.6);
  width: calc(var(--card-width) * 0.6);
  transition: top 2s ease, left 2s ease, transform 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardContainer:hover {
  transform: translateY(-10px) scale(0.98);
}


.cardContainer.frontEnd {
  background-color: #E29191;
}
.cardContainer.backEnd {
  background-color: #91BEE2;
}
.cardContainer.fullStack {
  background-color: #919de2;
}
