.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #000000ce;
}

.mainContent.gameOn {
  transition: background-color 2s ease;
  background-color: #00000000;
}

.userTitle {
  min-height: 100px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 3rem;
}

.userTitle > div {
  min-height: 100px;
  min-width: 400px;
}


:root {
  --card-height: 400px;
  --card-width: 280px;
  --card-back-color: #152c38;
}


.deckContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: var(--card-back-color);
  height: var(--card-height);
  width: var(--card-width);
  padding: 2rem;
  box-shadow: 5px 5px rgb(0, 0, 0);
  position: absolute;
  transition: transform 0.2s ease;
}

.deckContainer:hover {
  transform: scale(0.97);
}

.deckContainer > h3 {
  color: white;
}

.deckLetter {
  margin: auto auto 6rem auto;
  font-size: 6rem;
  color: white;
}

.deckContainer.gameOn {
  transition: transform 2s ease;
  transform: translateX(38vw) translateY(13vw) scale(0.8);
}

.handContainer {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 2rem;
  width: 100vw;
  padding: 0 300px 0 2rem;
}

.cardContainer {
  height: var(--card-height)  * 0.6;
  width: var(--card-width) * 0.6;
  transition: transform 0.2s ease;
}

.cardContainer:hover {
  transform: scale(0.97);
}